.course-content ul.twocol {
    margin: 0;
    list-style: none;
}

.course-content ul.twocol li.section .content {
    margin: 0 40px;
}

.course-content ul.twocol li.section .left,
.course-content ul.twocol li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content .twocol .section .right + h2 {
    margin-top: 2rem;
}

.course-content ul.twocol li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.twocol li.section .left,
.jsenabled .course-content ul.twocol li.section .right {
    width: auto;
}

.course-content ul.twocol li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.twocol li.section .section_action_menu .textmenu,
.course-content ul.twocol li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

.twocol .column {
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.17);
    box-shadow: 0 0 7px rgba(0,0,0,.17);
    height: 100%;
    padding: 20px 20px 10px;
}

.twocol .course-img {
    position: relative;
    border: none;
    height: 150px;
    width: 100%;
}

.twocol .course-img .media {
    position: absolute;
    top: 15%;
    right: 1%;
	z-index: 100;
}

/* Circular progress bar styling */
.twocol .course-img .media .progress-chart-container {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 50%;
}
.twocol .course-img .media .progress-chart-container .progress-doughnut {
    position: relative;
    height: 100px;
    width: 100px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 10px solid #dee2e6;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,.5);
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.twocol .course-img .media .progress-chart-container .progress-doughnut .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #373a3c;
    font-weight: 600;
    font-size: 1.1rem;
}
.twocol .course-img .media .progress-chart-container .progress-doughnut .progress-indicator {
    position: absolute;
    top: -18px;
    left: -8px;
    height: 96px;
    width: 96px;
}
.twocol .course-img .media .progress-chart-container .progress-doughnut .progress-indicator .circular-chart {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
}
.progress-chart-container .progress-doughnut .progress-indicator .circular-chart .progress-circle {
    stroke: #1177d1;
    fill: none;
    stroke-width: 2.3;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
.twocol .topic-jump + .topic-jump {
    margin-top: 1rem;
}
.twocol .topic-jump .topic-name {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.twocol .topic-jump .topic-name-item {
    display: inline-block;
    font-weight: 700;
    font-size: 110%;
    width: calc(100% - 55px);
    padding-right: 1rem;
    text-align: left;
}
.twocol .topic-jump .topic-name-completion {
    font-size: 80%;
    display: inline-block;
    background-color: rgba(255,255,255,0.25);
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    width: 55px;
}