.course-content ul.twocol {
    margin: 0;
    list-style: none;
}

.course-content ul.twocol li.section .content {
    margin: 0 40px;
}

.course-content ul.twocol li.section .left,
.course-content ul.twocol li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content ul.twocol li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.twocol li.section .left,
.jsenabled .course-content ul.twocol li.section .right {
    width: auto;
}

.course-content ul.twocol li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.twocol li.section .section_action_menu .textmenu,
.course-content ul.twocol li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

.twocol .column {
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.17);
    box-shadow: 0 0 7px rgba(0,0,0,.17);
    height: 100%;
    padding: 20px 20px 10px;
}

.twocol .course-img {
    position: relative;
    border: none;
    height: 150px;
    width: 100%;
}