{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {

    }
}}
<div class="twocol">
    <div class="row row-flex">
      <div class="col-md-6 col-sm-12">
        <div class="column">
         <div class="course-img" style='background-image: url("{{{courseimage}}}");'>
            <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
            <div class="media">
                <div class="mr-2">
                     <div class="progress-chart-container m-b-1 m-r-1">
                        {{#hasprogress}}
                            <div class="progress-doughnut">
                                <div class="progress-text {{#progress}}has-percent{{/progress}}">{{progress}}&#37;</div>
                                    <div class="progress-indicator">
                                        <svg viewbox="0 0 36 36" class="circular-chart">
                                            <path class="progress-circle" stroke-dasharray="{{progress}}, 100" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831"
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                        {{/hasprogress}}
                        {{^hasprogress}}
                            <div class="no-progress">
                                <i class="icon fa icon-graduation fa-fw "></i>
                            </div>
                        {{/hasprogress}}
                    </div>
                 </div>
             </div>
        </div>
        <div class="section">
	        <div class="right side">{{{rightcontent}}}</div>
	        <h2>{{summaryname}}</h2>
	        <div class="summary">
	            {{{summary}}}
	        </div>
        </div>
        <div class="sections">
            {{#sections}}
                <div class="topic-jump">
                    <a href="{{{url}}}" class="btn btn-primary btn-block topic-name">
                        <span class="topic-name-item">{{name}}</span>
                        {{#completion}}
                            {{#hastotal}}
                                <span class="topic-name-completion" title="{{complete}} of {{total}} activities completed">
                                    {{complete}} / {{total}}
                                </span>
                            {{/hastotal}}
                        {{/completion}}
                    </a>
                </div>
            {{/sections}}
        </div>

        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="column">
          <h3>Second column</h3>
          <p>Normal content.</p>
          <ul class="twocol">
           <li id="section-0" class="section main clearfix" role="region" aria-label="overview">
                <span class="hidden sectionname">overview</span>
                <div class = "content">
                    {{{ mods }}}
                    {{{ modcontrol }}}
                </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
