{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {

    }
}}
<div class="twocol">
    {{{clipboard}}}
    <div class="single-section">
        <div class="section-navigation navigationtitle course-img" style='background-image: url("{{{courseimage}}}");'>
        <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
            <div class="media">
                <div class="mr-2">
                     <div class="progress-chart-container m-b-1 m-r-1">
                        {{#hastotal}}
                            <div class="progress-doughnut">
                                <div class="progress-text {{#percent}}has-percent{{/percent}}">{{percent}}&#37;</div>
                                    <div class="progress-indicator">
                                        <svg viewbox="0 0 36 36" class="circular-chart">
                                            <path class="progress-circle" stroke-dasharray="{{percent}} 100" d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831"
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                        {{/hastotal}}
                        {{^hastotal}}
                            <div class="no-progress">
                                <i class="icon fa icon-graduation fa-fw "></i>
                            </div>
                        {{/hastotal}}
                    </div>
                </div>
            </div>
            <h6 class="section-navigation-back"><a href="#" title="Back to Course Home"><i class="fa fa-home" aria-hidden="true"></i> Course Name</a></h6>
            <h2 class="{{sectionnameclasses}}">{{{sectionname}}}</h2>
        </div>
        <div class="section-navigation mdl-top">
            <span class="mdl-left">{{{navlinkprevious}}}</span>
            <span class="mdl-right">{{{navlinknext}}}</span>
        </div>
        <ul class="twocol">
	            {{{sectionheader}}}
	            {{{helpicon}}}
	            {{{sectioncmlist}}}
	            {{{sectioncmcontrol}}}
	            </div>
            </li>
        </ul>
        <div class="section-navigation mdl-bottom">
            <span class="mdl-left">{{{navlinkprevious}}}</span>
            <span class="mdl-right">{{{navlinknext}}}</span>
            <div class="mdl-align">{{{navselection}}}</div>
        </div>
    </div>
</div>
